<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src=
    "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type=
    "text/javascript">
    </script>
    <script src=
    "http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type=
    "text/javascript">
    </script>
    <link href=
    "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href=
    "http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
    <title></title>
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#navbar-ex-collapse"
                data-toggle="collapse" type="button"><span class=
                "sr-only">Toggle navigation</span><span class=
                "icon-bar"></span><span class="icon-bar"></span><span class=
                "icon-bar"></span></button><a class="navbar-brand" href=
                "#"><span>Brand</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label" for=
                                "inputEmail3">Username</label>
                            </div>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputEmail3"
                                placeholder="username" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label" for=
                                "inputEmail3">University ID</label>
                            </div>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputEmail3"
                                placeholder="University id number" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label" for=
                                "inputEmail3">First name</label>
                            </div>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputEmail3"
                                placeholder="Enter First Name" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label" for=
                                "inputEmail3">Last &nbsp;name</label>
                            </div>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputEmail3"
                                placeholder="Enter Last Name" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label" for=
                                "inputEmail3">Email address</label>
                            </div>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputEmail3"
                                placeholder="Email" type="email">
                            </div>
                        </div>
                        <div class="dropdown-menu">
                            <div class="col-sm-2">
                                <label class="control-label" for=
                                "inputEmail3">Email address</label>
                            </div>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputEmail3"
                                placeholder="Email" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label" for=
                                "inputPassword3">Password</label>
                            </div>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputPassword3"
                                placeholder="Password" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label" for=
                                "inputPassword3">verify password</label>
                            </div>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputPassword3"
                                placeholder="Password" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-primary" type=
                                "submit">Sign up</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</body>
</html>
